<%- include("partials/header")%>
<div class="container">
<div class="row">
	<div class="col-md-12 col-sm-12 mt-5">
			<a href="/home/new" class="btn btn-outline-primary btn-block ">Create Course</a>
			<a href="/home/admin" class="btn btn-outline-dark btn-block ">Edit course</a>
			<a href="/student/admin" class="btn btn-outline-danger btn-block ">User's Details</a>
	</div>
	</div>
</div>
<%- include("partials/footer")%>